@using Webs.Extensions
@model Domain.Student
@{
    ViewBag.Title = "Details";
}

<link href="~/dist/layui/css/layui.css" rel="stylesheet" />

<div style="text-align: center;">
    <button class="layui-btn layui-btn-sm" onclick="onClose()">返回</button>
</div>
<form class="layui-form">
    <div class="layui-form-item">
        @Html.LabelFor(model => model.Name, new { @class = "layui-form-label" })
        <div class="layui-input-block">
            @Html.TextBoxFor(model => model.Name, new { @class = "layui-input", placeholder = "请输入", autocomplete = "off", disabled = true, Value = Model.Name })
        </div>
    </div>
    <div class="layui-form-item">
        @Html.LabelFor(model => model.StudyNumber, new { @class = "layui-form-label" })
        <div class="layui-input-block">
            @Html.TextBoxFor(model => model.StudyNumber, new { @class = "layui-input", placeholder = "请输入", autocomplete = "off", disabled = true, Value = Model.StudyNumber })
        </div>
    </div>
    <div class="layui-form-item">
        @Html.LabelFor(model => model.Mobile, new { @class = "layui-form-label" })
        <div class="layui-input-block">
            @Html.TextBoxFor(model => model.Mobile, new { @class = "layui-input", placeholder = "请输入", autocomplete = "off", disabled = true, Value = Model.Mobile })
        </div>
    </div>
    <div class="layui-form-item">
        @Html.LabelFor(model => model.Sex, new { @class = "layui-form-label" })
        <div class="layui-input-block">
            @(Model.Sex == 0 ? "男" : "女")
        </div>
    </div>
    <div class="layui-form-item">
        @Html.LabelFor(model => model.Clazz, new { @class = "layui-form-label" })
        <div class="layui-input-block">
            <select name="Clazz">
                <option value="@Model.Clazz.ID" selected>@Model.Clazz.Name</option>
            </select>
        </div>
    </div>
</form>

<script src="~/dist/layui/layui.js"></script>
<script src="~/js/jquery-1.9.1.min.js"></script>
<script src="~/js/jquery-migrate-1.1.1.js"></script>
<script>
    layui.use('form', function () {
        form = layui.form;
    });

    function onClose() {
        // 关闭弹窗
        parent.layer.close(parent.layer.index);
    }
</script>