@using Domain

@model Billing

@{
    ViewBag.Title = "Create";
    int detailRowIndex = 0;
    
    // 报销费用类型
    IList<BillingItemType> allBillingItemType =  ViewBag.allBillingItemType;
    string bit_names = string.Join("|", from m in allBillingItemType
                                 orderby m.SortCode
                                 select m.Name);
    string bit_ids = string.Join("|", from m in allBillingItemType
                                     orderby m.SortCode
                                     select m.ID);
}
<link href="~/js/layer/theme/default/layer.css" rel="stylesheet" />
<link href="~/css/ViewPage.css" rel="stylesheet" />
<script src="~/js/jquery-1.9.1.min.js"></script>
<script src="~/js/jquery-migrate-1.1.1.js"></script>
<script src="~/js/layer/layer.js"></script>
<script>
    function onSubmit() {
        $.ajax({
            type: "post",
            url: "/Billing/Create",
            data: $("form").serialize(), // 文件上传取不到
            dataType: "text",
            success: function (rdata) {
                if (rdata == "ok") {
                    // 提交成功
                    // 刷新列表
                    parent.location.reload();
                    // 关闭弹出层
                    parent.layer.close(parent.layer.index);
                } else {
                    // 提交失败
                    alert(rdata);
                }
            }
        });
    }

    function onCancel() {
        parent.layer.close(parent.layer.index);
    }

    function onAddRow() {
        // 1. 确定新行号
        var detailRowCount = $("#detailRowCount").val();
        // Number 必须，否则是字符串相加，不是数字相加
        detailRowCount = Number(detailRowCount) + 1;
        // 2. 增加行
        var strHtml = "<tr id='tr" + detailRowCount + "'>";

        strHtml = strHtml + "<td>";
        strHtml = strHtml + "<select id='BillingItemType" + detailRowCount + "' name='BillingItemType" + detailRowCount + "'>";
        strHtml = strHtml + "<option value='0' checked='checked'>(请选择)</option>";
        // 取出 names
        var arrNames = $("#bit_names").val().split("|");
        var arrIds = $("#bit_ids").val().split("|");
        for (var i = 0; i < arrNames.length; i++) {
            strHtml = strHtml + "<option value='" + arrIds[i] + "'>" + arrNames[i] + "</option>";
        }
        strHtml = strHtml + "</select>";
        strHtml = strHtml + "</td>";
        // 2.2 费用
        strHtml = strHtml + "<td>";
        strHtml = strHtml + "<input type='text' id='Fee" + detailRowCount + "' name='Fee" + detailRowCount + "' />";
        strHtml = strHtml + "</td>";
        // 2.3 备注
        strHtml = strHtml + "<td>";
        strHtml = strHtml + "<input type='text' id='Remark" + detailRowCount + "' name='Remark" + detailRowCount + "' />";
        strHtml = strHtml + "</td>";
        // 2.4 操作
        strHtml = strHtml + "<td>";
        strHtml = strHtml + "<input type='button' value='删除' class='btn2' onclick='onDelRow(" + detailRowCount + ")' />";
        strHtml = strHtml + "</td>";

        strHtml = strHtml + "</tr>";
        $("#dtl").append(strHtml);
        // 3. 重新隐藏域行数
        $("#detailRowCount").val(detailRowCount);
    }

    function onDelRow(rowIndex) {
        $("#tr" + rowIndex).remove();
    }
</script>

<div style="text-align: center">
    <input class="btn2" type="button" value="保存" onclick="onSubmit()" />
    <input class="btn2" type="button" value="取消" onclick="onCancel()" />
</div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Creator.ID)
    @Html.Hidden("bit_names", bit_names)
    @Html.Hidden("bit_ids", bit_ids)
    <fieldset>
        <div class="editor-label">报账人</div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Creator.Name, new { @readonly = "readonly" })
            @Html.HiddenFor(m => m.Creator.ID)
        </div>

        <div class="editor-label">调度单</div>
        <div class="editor-field">
            @Html.DropDownList("DeliveryForm.ID", (IList<SelectListItem>)ViewBag.ddlDeliveryForm)
        </div>
    </fieldset>
    
    
    <input class="btn2" type="button" value="增加" onclick="onAddRow()" />
    <table id="dtl" class="dataGrid">
        <tr>
            <td>费用类型</td>
            <td>费用</td>
            <td>备注</td>
            <td>操作</td>
        </tr>
        @foreach (var item in Model.BillingItemList)
	    {
            string[] arrBitIds = bit_ids.Split('|');
            string[] arrBitNames = bit_names.Split('|');
            detailRowIndex = detailRowIndex + 1;
            string trid = "tr" + detailRowIndex;
            string bitid = "BillingItemType" + detailRowIndex;
            <tr id="@trid">
                <td>
                    <select id="@bitid" name="@bitid">
                        @for (int i = 0; i < arrBitIds.Length; i++)
                        {
                            string strSelected = item.ID.ToString() == arrBitIds[i] ? "selected='selected'" : "";
                            <option value="@arrBitIds[i]" @strSelected>@arrBitNames[i]</option>
                        }
                    </select>
                </td>
                <td>费用类型</td>
                <td>@Html.TextBox("Fee" + detailRowIndex, item.Fee)</td>
                <td>@Html.TextBox("Remark" + detailRowIndex, item.Remark)</td>
                <td>
                    <input class="btn2" type="button" value="删除" onclick="onDelRow(@detailRowIndex)" />
                </td>
            </tr>
	    }
    </table>
    
    @Html.Hidden("detailRowCount", detailRowIndex)
}