@using PagedList.Mvc
@model PagedList.PagedList<Domain.SysRole>

@{
    ViewBag.Title = "Index";
}
<link href="~/css/PagedList.css" rel="stylesheet" />
<link href="~/css/ViewPage.css" rel="stylesheet" />
<link href="~/js/layer/theme/default/layer.css" rel="stylesheet" />
<script src="~/js/jquery-1.9.1.min.js"></script>
<script src="~/js/jquery-migrate-1.1.1.js"></script>
<script src="~/js/layer/layer.js"></script>
<script>
    function onAdd() {
        layer.open({
            type: 2,
            closeBtn: 0,
            anim: 4,
            title: "新增",
            shade: 0.4,
            shadeClose: false,
            area: ['500px', '300px'],
            content: ['/SysRole/Create', 'yes'], // iframe的url，yes代表显示滚动条
            end: function () {
                location.href = location.href; // 刷新页面
            }
        });
    }
    function onEdit(id) {
        layer.open({
            type: 2,
            closeBtn: 0,
            anim: 4,
            title: "修改",
            shade: 0.4,
            shadeClose: false,
            area: ['500px', '300px'],
            content: ['/SysRole/Edit?id=' + id, 'yes'], // iframe的url，yes代表显示滚动条
            end: function () {
                location.href = location.href; // 刷新页面
            }
        });
    }
    function onDetails(id) {
        layer.open({
            type: 2,
            closeBtn: 0,
            anim: 4,
            title: "查看",
            shade: 0.4,
            shadeClose: false,
            area: ['500px', '300px'],
            content: ['/SysRole/Details?id=' + id, 'yes'], // iframe的url，yes代表显示滚动条
        });
    }
    function onDelete(id) {
        if (confirm('您确认要删除吗？')) {
            // 删除
            $.ajax({
                type: "post",
                url: "/SysRole/Delete",
                data: { id: id },
                dataType: "text",
                success: function (rdata) {
                    if (rdata == "ok") {
                        // 提交成功
                        // 刷新列表
                        location.href = location.href;
                    } else {
                        // 提交失败
                        //alert(rdata);
                        layer.message(rdata);
                    }
                }
            });
        }
    }
</script>
<h2 style="text-align: center;">角色列表</h2>
@using (Html.BeginForm())
{
    <input type="button" value="新增" class="btn2" onclick="onAdd()" />
    @Html.TextBox("qryName", (string)ViewBag.qryName, new { placeholder = "角色名模糊查找" })
    <input type="submit" value="查询" class="btn2" />
}
<table class="dataGrid">
    <tr>
        <th>
            角色名
        </th>
        <th>
            状态
        </th>
        <th>操作</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @(item.Status == 0 ? "正常" : "禁用")
            </td>
            <td>
                <input type="button" value="修改" class="btn2" onclick="onEdit(@item.ID)" />
                <input type="button" value="查看" class="btn2" onclick="onDetails(@item.ID)" />
                <input type="button" value="删除" class="btn2" onclick="onDelete(@item.ID)" />
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, pageIndex => Url.Action("Index", new { pageIndex }), new PagedListRenderOptions
{
    LinkToFirstPageFormat = "首页",
    LinkToLastPageFormat = "末页",
    LinkToPreviousPageFormat = "上一页",
    LinkToNextPageFormat = "下一页",
    MaximumPageNumbersToDisplay = 5,
    DisplayItemSliceAndTotal = true,
    ItemSliceAndTotalFormat = "第{0}到{1}行, 共{2}行"
})
