@model Domain.SysUser

@{
    ViewBag.Title = "Details";
}

<link href="~/css/ViewPage.css" rel="stylesheet" />
<script src="~/js/jquery-migrate-1.1.1.js"></script>
<script src="~/js/jquery-1.9.1.min.js"></script>
<script src="~/js/layer/layer.js"></script>
<script>
    function onCancel() {
        // 关闭弹窗
        parent.layer.close(parent.layer.index);
    }
</script>
<div style="text-align: center;">
    <input type="button" class="btn2" value="取消" onclick="onCancel()" />
</div>
<fieldset>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoginAccount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoginAccount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>
</fieldset>

