@model LMS.Models.SysUser

@{
    ViewBag.Title = "Edit";
}
<link href="~/css/ViewPage.css" rel="stylesheet" />
<script src="~/js/jquery-migrate-1.1.1.js"></script>
<script src="~/js/jquery-1.9.1.min.js"></script>
<script src="~/js/layer/layer.js"></script>
<script>
    function onSubmit() {
        // 1.提交数据
        // 2.关闭弹窗
    }
    function onCancel() {
        // 关闭弹窗
        parent.layer.close(parent.layer.index);
    }
</script>
<div style="text-align: center;">
    <input type="button" class="btn2" value="保存" onclick="onSubmit()" />
    <input type="button" class="btn2" value="取消" onclick="onCancel()" />
</div>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoginAccount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoginAccount)
            @Html.ValidationMessageFor(model => model.LoginAccount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>
    </fieldset>
}


