@model Domain.SysUser

@{
    ViewBag.Title = "Details";
}
<link href="~/css/ViewPage.css" rel="stylesheet" />
<script>
    function onClose() {
        // 关闭弹窗
        parent.layer.close(parent.layer.index);
    }
</script>
<div style="text-align: center;">
    <input type="button" class="btn2" value="返回" onclick="onClose()" />
</div>
<fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { @readonly = "readonly" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoginAccount)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LoginAccount, new { @readonly = "readonly" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.RadioButtonList("Status", (IList<SelectListItem>)ViewBag.rblStatus, new { disabled = "disabled" })
        </div>

        <div class="editor-label">
            担任角色
        </div>
        <div class="editor-field">
            @Html.CheckBoxList("cblRole", (IList<SelectListItem>)ViewBag.cblRole, new { disabled = "disabled" })
        </div>
    </fieldset>

