@using PagedList.Mvc
@using Domain
@model PagedList.PagedList<Domain.SysUser>

@{
    ViewBag.Title = "Index";
    IList<SysFunction> authFunctionList = (IList<SysFunction>)ViewBag.authFunctionList;
    var funcNames = from m in authFunctionList select m.Name;
}
<link href="~/css/PagedList.css" rel="stylesheet" />
<link href="~/css/ViewPage.css" rel="stylesheet" />
<link href="~/js/layer/theme/default/layer.css" rel="stylesheet" />
<script src="~/js/jquery-1.9.1.min.js"></script>
<script src="~/js/jquery-migrate-1.1.1.js"></script>
<script src="~/js/layer/layer.js"></script>
<script>
    function onAdd() {
        layer.open({
            type: 2,
            closeBtn: 0,
            anim: 4,
            title: "新增",
            shade: 0.4,
            shadeClose: false,
            area: ['500px', '300px'],
            content: ['/SysUser/Create', 'yes'], // iframe的url，yes代表显示滚动条
            end: function () {
                //location.href = location.href; // 刷新页面
            }
        });
    }
    function onEdit(id) {
        layer.open({
            type: 2,
            closeBtn: 0,
            anim: 4,
            title: "修改",
            shade: 0.4,
            shadeClose: false,
            area: ['500px', '300px'],
            content: ['/SysUser/Edit?id=' + id, 'yes'], // iframe的url，yes代表显示滚动条
            end: function () {
                //location.href = location.href; // 刷新页面
            }
        });
    }
    function onDetails(id) {
        layer.open({
            type: 2,
            closeBtn: 0,
            anim: 4,
            title: "查看",
            shade: 0.4,
            shadeClose: false,
            area: ['500px', '300px'],
            content: ['/SysUser/Details?id=' + id, 'yes'], // iframe的url，yes代表显示滚动条
        });
    }
    function onReset(id) {
        if (confirm('您确认要重置吗？')) {
            // 重置
            $.ajax({
                type: "post",
                url: "/SysUser/Reset",
                data: { id: id },
                dataType: "text",
                success: function (rdata) {
                    if (rdata == "ok") {
                        // 提交成功
                        // 刷新列表
                        location.href = location.href;
                    } else {
                        // 提交失败
                        //alert(rdata);
                        layer.message(rdata);
                    }
                }
            });
        }
    }
    function onDelete(id) {
        if (confirm('您确认要删除吗？')) {
            // 删除
            $.ajax({
                type: "post",
                url: "/SysUser/Delete",
                data: { id: id },
                dataType: "text",
                success: function (rdata) {
                    if (rdata == "ok") {
                        // 提交成功
                        // 刷新列表
                        location.href = location.href;
                    } else {
                        // 提交失败
                        //alert(rdata);
                        layer.message(rdata);
                    }
                }
            });
        }
    }
</script>
<h2 style="text-align: center;">用户列表</h2>

@using (Html.BeginForm())
{
    if (funcNames.Contains("新增"))
    {
    <input type="button" value="新增" class="btn2" onclick="onAdd()" />
    }
    @Html.TextBox("qryName", (string)ViewBag.qryName, new { placeholder = "角色名模糊查找" })
    <input type="submit" value="查询" class="btn2" />
}
<table class="dataGrid">
    <tr>
        <th>
            用户名
        </th>
        <th>
            登录账号
        </th>
        <th>
            密码
        </th>
        <th>
            状态
        </th>
        <th>
            担任角色列表
        </th>
        <th>操作</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginAccount)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Password)*@
                *******
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Status)*@
                @(item.Status == 0 ? "正常" : "禁用")
            </td>
            <td>
                @* 方法一 *@
                @*@{
                    string names = string.Empty;
                    if (item.SysRoleList != null && item.SysRoleList.Count > 0)
                    { 
                        int i = 0;
                        foreach (var role in item.SysRoleList)
                        {
                            i = i + 1;
                            //if (i == item.SysRoleList.Count)
                            //{ 
                            //    names = names + role.Name;
                            //}
                            //else
                            //{
                            //    names = names + role.Name + "|";
                            //}
                            string sep = (i == item.SysRoleList.Count) ? "" : "|";
                            names = names + role.Name + sep;
                        }
                    }
                }*@
                @* 方法二 *@
                @*@{
                    string names = string.Empty;
                    if (item.SysRoleList != null && item.SysRoleList.Count > 0)
                    { 
                        foreach (var role in item.SysRoleList)
                        {
                            names = names + role.Name + "|";
                        }
                        names = names.Substring(0, names.Length - 1);
                    }
                }*@

                @* 方法三 *@
                @string.Join(",", from m in item.SysRoleList select m.Name)
            </td>
            <td>
                <input type="button" value="重置" class="btn2" onclick="onReset(@item.ID)" />
                @if (funcNames.Contains("修改"))
                {
                <input type="button" value="修改" class="btn2" onclick="onEdit(@item.ID)" />
                }
                @if (funcNames.Contains("查看"))
                {
                <input type="button" value="查看" class="btn2" onclick="onDetails(@item.ID)" />
                }
                @if (funcNames.Contains("删除"))
                {
                <input type="button" value="删除" class="btn2" onclick="onDelete(@item.ID)" />
                }
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, pageIndex => Url.Action("Index", new { pageIndex }), new PagedListRenderOptions
{
    LinkToFirstPageFormat = "首页",
    LinkToLastPageFormat = "末页",
    LinkToPreviousPageFormat = "上一页",
    LinkToNextPageFormat = "下一页",
    MaximumPageNumbersToDisplay = 5,
    DisplayItemSliceAndTotal = true,
    ItemSliceAndTotalFormat = "第{0}到{1}行, 共{2}行"
})