@using PagedList.Mvc
@using Domain
@model PagedList.PagedList<Domain.TransportOrder>

@{
    ViewBag.Title = "Index";
    IList<SysFunction> authFunctionList = (IList<SysFunction>)ViewBag.authFunctionList;
    var funcNames = from m in authFunctionList select m.Name;
}
<link href="~/css/PagedList.css" rel="stylesheet" />
<link href="~/css/ViewPage.css" rel="stylesheet" />
<link href="~/js/layer/theme/default/layer.css" rel="stylesheet" />
<script src="~/js/jquery-1.9.1.min.js"></script>
<script src="~/js/jquery-migrate-1.1.1.js"></script>
<script src="~/js/layer/layer.js"></script>
<script>
    function onAdd() {
        layer.open({
            type: 2,
            closeBtn: 0,
            anim: 4,
            title: "新增",
            shade: 0.4,
            shadeClose: false,
            area: ['500px', '300px'],
            content: ['/TransportOrder/Create', 'yes'], // iframe的url，yes代表显示滚动条
            end: function () {
                //location.href = location.href; // 刷新页面
            }
        });
    }
    function onEdit(id) {
        layer.open({
            type: 2,
            closeBtn: 0,
            anim: 4,
            title: "修改",
            shade: 0.4,
            shadeClose: false,
            area: ['500px', '300px'],
            content: ['/TransportOrder/Edit?id=' + id, 'yes'], // iframe的url，yes代表显示滚动条
            end: function () {
                //location.href = location.href; // 刷新页面
            }
        });
    }
    function onDetails(id) {
        layer.open({
            type: 2,
            closeBtn: 0,
            anim: 4,
            title: "查看",
            shade: 0.4,
            shadeClose: false,
            area: ['500px', '300px'],
            content: ['/TransportOrder/Details?id=' + id, 'yes'], // iframe的url，yes代表显示滚动条
        });
    }
    function onDelete(id) {
        if (confirm('您确认要删除吗？')) {
            // 删除
            $.ajax({
                type: "post",
                url: "/TransportOrder/Delete",
                data: { id: id },
                dataType: "text",
                success: function (rdata) {
                    if (rdata == "ok") {
                        // 提交成功
                        // 刷新列表
                        location.href = location.href;
                    } else {
                        // 提交失败
                        //alert(rdata);
                        layer.msg(rdata);
                    }
                }
            });
        }
    }
</script>
<h2 style="text-align: center;">托运单列表</h2>

@using (Html.BeginForm())
{
    if (funcNames.Contains("新增"))
    {
        <input type="button" value="新增" class="btn2" onclick="onAdd()" />
    }
    <label>货运起始站:</label>
    @Html.TextBox("startStation_QryName", (string)ViewBag.startStation_QryName, new { placeholder = "货运起始站模糊查找" })
    <label>货运到站:</label>
    @Html.TextBox("endStation_QryName", (string)ViewBag.endStation_QryName, new { placeholder = "货运到站模糊查找" })
    <label>收货人名字:</label>
    @Html.TextBox("receiverName_QryName", (string)ViewBag.receiverName_QryName, new { placeholder = "收货人名字模糊查找" })
    <input type="submit" value="查询" class="btn2" />
}
<table class="dataGrid">
    <tr>
        <th>
            起始站
        </th>
        <th>
            终站
        </th>
        <th>
            起始地
        </th>
        <th>
            终地
        </th>
        <th>
            价格
        </th>
        <th>
            省份
        </th>
        <th>
            收货人
        </th>
        <th>
            货运单状态
        </th>
        <th>操作</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartStation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndStation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receiver.Name)
            </td>
            <td>
                @switch (item.Status)
                {
                    case 0: <span>接单-等待调度</span>break;
                    case 1: <span>已调度-等待运输</span>break;
                    case 2: <span>已运输-等待报账</span>break;
                    case 3: <span>已报账-结束</span>break;
                }
            </td>
            <td>
                <input type="button" value="重置" class="btn2" onclick="onReset(@item.ID)" />
                @if (funcNames.Contains("修改"))
                {
                    <input type="button" value="修改" class="btn2" onclick="onEdit(@item.ID)" />
                }
                @if (funcNames.Contains("查看"))
                {
                    <input type="button" value="查看" class="btn2" onclick="onDetails(@item.ID)" />
                }
                @if (funcNames.Contains("删除"))
                {
                    <input type="button" value="删除" class="btn2" onclick="onDelete(@item.ID)" />
                }
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, pageIndex => Url.Action("Index", new { pageIndex }), new PagedListRenderOptions
{
    LinkToFirstPageFormat = "首页",
    LinkToLastPageFormat = "末页",
    LinkToPreviousPageFormat = "上一页",
    LinkToNextPageFormat = "下一页",
    MaximumPageNumbersToDisplay = 5,
    DisplayItemSliceAndTotal = true,
    ItemSliceAndTotalFormat = "第{0}到{1}行, 共{2}行"
})